// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// google font request possible here for dynamic font changing?
// ( to easily test fonts and not have to download them to try them? not sure if possible)

@import url('https://fonts.googleapis.com/css?family=Baumans|Monoton');

// font-family: 'Baumans', cursive;
// font-family: 'Monoton', cursive;

$font-family-md-base: 'Baumans', cursive;
// $toolbar-title: 'Monoton', cursive;

ion-title
{
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 300%;
  font-weight: bold;
};

body, h1, h2, h3, p
{
  // color: #65ff37;
  color: black;
};

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// $colors: (
//   primary:    #6b9b37,
//   secondary:  #bcaaa4,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #222
// );

// VaporWave Theme
// $colors: (
//   primary:    #0CE9E9,
//   secondary:  #544A75,
//   danger:     #2D5170,
//   light:      #0AE9E9,
//   dark:       #152331
// );

// $toolbar-background: #D9007D;
// $tabs-background: #D9007D;
// $background-color: #544A75;


// Recyclopedia Original Demo Theme
$colors: (
  primary:    #9ccc65,
  secondary:  #00897b,
  danger:     red,
  light:      white,
  dark:       black
);

$toolbar-background: #00897b;
$tabs-background: #00897b;

$tabs-tab-color-inactive: #05211f;
$tabs-md-tab-color-inactive: #05211f;

//Why do I have to use the -md- for things? what does this evven mean?
// Material Design, android?

$background-color: white;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

 @import "roboto";
 @import "noto-sans";

